<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">

</head>
<body class="m-5">
<header>
    <nav class="navbar navbar-expand-sm bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand">Christian</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">Home</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{about}">About me</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<h1>Over mij</h1>
    <ol class ="orderedlist">
        <li th:text="${myName}">myName</li>
        <li th:text="${myStreet}">myStreet</li>
        <li th:text="${myCity}">myCity</li>
    </ol>
    <a th:href="@{/home}">Home</a>
<p><strong>Christian</strong> is een hele schone jongeman met een hart van goud, de wijsheid van Solomon en de kracht van Hercules.</p>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>