<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<!---Header---->
<div th:replace="~{fragments/header :: navbar}"></div>

<!---Main---->
<div class="container">
    <h1>Onze Artiesten</h1>
    <p class="text-muted ms-2" th:text="|${artists.size()} artiesten gevonden|"></p>
    <form th:action="@{/artistlist}"
          method="get"
          class="d-flex justify-content-end mb-3">
        <input type="text"
                name="keyword"
                th:value="${param.keyword}"
                placeholder="Zoek artiest..."
                class="form-control w-25">
        <button type="submit" class="btn btn-primary ms-2">zoek</button>
    </form>
    <div class="row">
        <div th:each="artist : ${artists}"
             th:object="${artist}"
             class="col-md-4 mb-3">
            <div class="card">
                <a th:href="@{|/artistdetails/*{id}|}" class="btn d-flex flex-column h-100">
                    <div class="card-body">
                        <h5 class="card-title pb-2" th:text="${artist.artistName}">Naam</h5>
                    </div>
                    <img th:src="@{${artist.imageUrl}}" class="card-img-top" alt="Artist image">
                </a>
            </div>
        </div>
    </div>
</div>

<!----Footer---->
<div th:replace="~{fragments/footer :: footer}"></div>

<!---Bootstrap js link---->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>